<configuration>
  <dllmap os="linux" dll="natives64/glfw3.dll" target="natives64/libglfw.so.3.2"/>
  <dllmap os="linux" dll="natives32/glfw3.dll" target="natives32/libglfw.so.3.2"/>
  <dllmap os="linux" dll="natives64/openal32.dll" target="natives64/libopenal.so"/>
  <dllmap os="linux" dll="natives32/openal32.dll" target="natives32/libopenal.so"/>
  <dllmap os="linux" dll="opengl32.dll" target="libGL.so.1"/>
  <dllmap os="osx" dll="natives32/openal32.dll" target="/System/Library/Frameworks/OpenAL.framework/OpenAL"/>
</configuration>
